body {
outline: solid red 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
display: flex;
outline: solid blue 2px;
background-color: #1F2937;
justify-content: space-evenly;
}
h2 {
    color:white;
    font-size: 24px;

}
ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding: 10px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.one {
    background-color: darkcyan;
    color: white;
    display: flex;
    justify-content: space-evenly;
align-items: center;
}
.oneb {
display:flex;
flex-direction: column;
padding: 50px;
align-items: center;
}

img {
    max-width: 300px;
    padding: 100px;
}
button {
    padding: 10px;
margin: auto;
}